.bg-image {
    background-image: url("../img/top-left-bg.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bg-image2 {
    background-image: url("../img/slide-02.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bg-shadow {
    background-color: rgba(51, 50, 50, 0.885);
}



.splide__arrow {
    background-color: #FB6358;
    color: #ffffff;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.3;
}

.splide__arrow--prev::before {
    content: '';
    background-color: transparent;
}

.splide__arrow--next::before {
    content: '';
    background-color: transparent;
}

.text-hihi {
    color: #FB6358;
}

.g-0 {
    gap: 0;
}

.bg-hihi {
    background-color: #FB6358;
}


.w-75 {
    width: 75%;
}


.border-hihi {
    border: solid;
    color: gray;
}


.g-font {
    font-family: "Dynalight", serif;
    font-weight: 400;
    font-style: normal;
}